%header
  %style{:type => "text/css", :media => "screen"}
    = css
  %title #{title}

%body

  #page
    #header-wrap
      #header
        %a#logo
          %img{src='#'}
      
        %span#userbar
          %a.feedback{:href => "http://susestudio.com/feedback/new_message?context=http%3A%2F%2Fsusestudio.com%2Fappliance%2Fcreate_new", :target => "_blank"} Send feedback
          %a#link-gallery{:href => "http://susestudio.com/browse"} Gallery
          %a#link-home{:href => "http://susestudio.com/home"} Home
          %span.user
            %a#link-myaccount{:href => "http://susestudio.com/user/account", :title => "View your user page"} Robert Lihm
          %span.help
            %a#link-help{:href => "http://susestudio.com/help", :target => "_blank"} Help
          %a#pageup{:style => "display: none;"} Back to top
          %span.actions
            %span.user-signout
              %a{:href => "http://susestudio.com/logout"} Sign out

    #content
      .navigation
      %a{:href => "#{relative_site_root}toc.html"}
        Table of Contents

      %aside
        =render_toc

      .content
        = render_content

  #footer
    %ul.links
      %li.first
        %a{:href => "http://susestudio.com/forum/", :target => "_blank"} Forum
      %li
        %a{:href => "http://webchat.freenode.net/?channels=#susestudio&nick=Robert_Lihm", :target => "_blank"} Chat (IRC)
      %li
        %a{:href => "http://blog.susestudio.com/", :target => "_blank"} Blog
      %li
        %a{:href => "http://facebook.com/susestudio", :target => "_blank"} Facebook
      %li
        %a{:href => "http://twitter.com/susestudio/", :target => "_blank"} Twitter
      %li
        %a{:href => "http://susestudio.com/screencast/", :target => "_blank"} Screencast
      %li
        %a{:href => "http://susestudio.com/artwork/", :target => "_blank"} Logos & badges
      %li
        %a{:href => "http://susestudio.com/jobs/", :target => "_blank"} Jobs
    .disk-quota
      You are currently using
      %span#disk-quota-usage 0MB
      (
      %span#disk-quota-percentage> 0
      \%)
      of your
      %span#disk-quota-quota 15GB
    .copy
      \© 2011 Novell, Inc.
      %a{:href => "http://novell.com/company/legal/", :target => "_blank"} Legal
      %a{:href => "http://novell.com/company/policies/privacy/", :target => "_blank"} Privacy